################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Catharsium.WhatsApp
/Catharsium.WhatsApp.Data/bin/Debug/net6.0
/Catharsium.WhatsApp.Data/obj
/Catharsium.WhatsApp.Data.Tests/bin/Debug/net6.0
/Catharsium.WhatsApp.Data.Tests/obj
/Catharsium.WhatsApp.Entities/bin/Debug/net6.0
/Catharsium.WhatsApp.Entities/obj
/Catharsium.WhatsApp.Entities.Tests/bin/Debug/net6.0
/Catharsium.WhatsApp.Entities.Tests/obj
/Catharsium.WhatsApp.Terminal/bin/Debug/net6.0
/Catharsium.WhatsApp.Terminal/obj
/Catharsium.WhatsApp.Terminal.Tests/bin/Debug/net6.0
/Catharsium.WhatsApp.Terminal.Tests/obj
